.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 80vh;
  display: flex;
}

.profile-container {
  height: 80vh;
  width: 30rem;
  display: flex;
  justify-content: center;
}

.manage-container {
  height: 80vh;
  width: 50rem;
  display: flex;
}

.profile-card {
  height: 30vh;
  width: 20rem;
  border-radius: 2rem;
  box-shadow: 0 8px 25px rgba(154, 170, 207, 0.3);;
} 

.header {
  height: 3rem;
  width: 50rem;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1rem;
  font-weight: bold;
  margin-left: 2rem;
}