.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 80vh;
  display: flex;
}

.profile-container {
  height: 80vh;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

.manage-container {
  height: 80vh;
  width: 50rem;
  display: flex;
}

.profile-card {
  height: 30vh;
  width: 20rem;
  border-radius: 2rem;
  box-shadow: 0 8px 25px rgba(154, 170, 207, 0.3);;
} 

.header {
  height: 3rem;
  width: 50rem;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 1rem;
  font-weight: bold;
  margin-left: 2rem;
}

.name-container {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  padding-left: 2rem;
}

.name-text {
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-avatar {
  color: #64748b;
  background-color: #f1f5f9;
  padding: 12px;
  border-radius: 50%;
  border: 2px solid #e2e8f0;
}

.edit-container {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  padding-top: 1rem;
}

.profile-details {
  height: 9rem;
  margin-top: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.phone-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 40%;
}

.profile-text {
  font-size: 0.85rem;
}

.logout-container {
  background-color: rgb(219, 219, 219);
  border-radius: 0.5rem;
  height: 2rem;
  width: 10rem;
  margin-top: 5rem;
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #6b7280;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
}
