.home {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

/* Green background area */
.hero {
  border: solid 2px rgb(242, 255, 0);
  position: relative;
  background: #39a44f;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* hides excess part of the image */
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* show full image without cropping */
  object-position: 20% 20%;; 
}

/* Bottom welcome container */
.welcomeContainer {
  border: solid 2px rgb(64, 78, 231);
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  color: white;
}

.highlight {
  border: solid 2px red;
  font-weight: bold;
  font-size: 2rem;
  color: #1e64c8; /* your blue */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.welcomeText {
  border: solid 2px yellow;
}
