/* Footer.module.css */

.footer {
    background:  var(--primary-color);
    color: var(--white);
    padding: 1rem;
}

.inputIcon {
    height: 1rem;
}

.contactSection {
    margin-bottom: 25px;
}

.contactHeader {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.contactItem {
    display: flex;
}

.emergencySection {
    display: flex;
    flex-direction: column;
}

.emergencyHeader {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}


.contactIcon {
    height: 2rem;
}

.contactusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.hotlinesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 0.5rem;
  text-align: left; /* better readability */
  margin-left: 3rem;
}

.hotlineLabel {
    font-size: 15px;
    font-weight: 600;
}
.hotlineDetail {
  font-size: 14px;
  font-weight: 400; /* normal weight */
}

.contactLabel{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 2px;
}

.contactNumbers span {

  font-size: 14px;
  font-weight: 400;
}

.hotlineNumbers {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  padding-left: .2rem;
}

.hotlineNumbers span {
  font-size: 14px;
  font-weight: 400;
}

.divider {
    height: .5px;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    margin: 1.2rem;
}

.footerBottom {
    text-align: center;
}

.copyright {
    font-size: 12px;
    font-weight: 300;
    opacity: 0.95;
}

.poweredBy {
    font-size: 12px;
    font-weight: 200;
    opacity: 0.95;
}