.publicAnnouncements {
  padding: 0;
  border: solid 2px red; 
}

.header {
  border: solid 2px blue;
}

.headerText {
  border: solid 2px green;
  width: 75%;
  height: 8rem;
  display: flex;
  align-items: center;
  padding-left: 8rem;
}

.icon {
  
}